snippet today "Date"
_Date: `date '+%Y.%m.%d %A'`_
endsnippet

snippet time "time"
Time: `date '+%T'`
endsnippet

snippet '('|"|\`|<|\(|\[|\{)' "brackets" rw
`!p snip.rv = match.group(0)`${VISUAL}`!p 
a = match.group(0).strip()
if a == "<": snip.rv = ">"
elif a == "(": snip.rv = ")"
elif a == "[": snip.rv = "]"
elif a == "{": snip.rv = "}"
else: snip.rv = a
`
endsnippet
