snippet common "common structure" i
#include <stdio.h>
#include <stdlib.h>

// function declaration

int main() {
  $1
  return 0;
}
endsnippet

snippet '(\{)' "auto curly brace" rA
`!p
a = match.group(1)
snip.rv = a
`
	$1
`!p snip.rv = "}" `$0
endsnippet

priority 1
snippet '(= \{)' "auto curly brace initialize" rA
`!p
a = match.group(1)
snip.rv = a
`$1`!p snip.rv = "}"`$0
endsnippet
