snippet headg "head guard" b
#ifndef $1
#define $1

$0

#endif  // $1
endsnippet


snippet namespace "head guard" b
namespace $1 {
$0
}  // namespace $1
endsnippet


#snippet '(\{)' "auto curly brace" rA
#`!p
#a = match.group(1)
#snip.rv = a
#`
#	$1
#`!p snip.rv = "}" `$0
#endsnippet
#
#priority 1
#snippet '(= \{)' "auto curly brace initialize" rA
#`!p
#a = match.group(1)
#snip.rv = a
#`$1`!p snip.rv = "}"`$0
#endsnippet
