absl-py==0.9.0
APScheduler==3.2.0
backcall==0.1.0
bcrypt==3.2.0
beautifulsoup4==4.9.1
bleach==1.5.0
cachetools==4.0.0
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
Click==7.0
contextvars==2.4
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.15
decorator==4.4.1
docopt==0.6.2
docopt-dispatch==0.0.2
et-xmlfile==1.0.1
fabric==2.6.0
Flask==1.0
google-auth==1.11.2
google-auth-oauthlib==0.4.1
googletrans==3.0.0
grpcio==1.27.2
gunicorn==19.9.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.11.21
html5lib==0.9999999
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.7
imageio==2.6.1
immutables==0.14
invoke==1.5.0
ipython==7.12.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.17.0
kiwisolver==1.1.0
lxml==4.5.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mpmath==1.2.1
networkx==2.4
numpy==1.19.5
oauthlib==3.1.0
openpyxl==3.0.6
pandas==1.1.5
paramiko==2.7.2
parso==0.6.2
pathlib2==2.3.5
patsy==0.5.1
peewee==3.13.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
prompt-toolkit==3.0.3
protobuf==3.11.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.0
pycparser==2.19
PyExecJS==1.5.1
pyfiglet==0.8.post1
Pygments==2.5.2
pymongo==3.10.1
PyNaCl==1.4.0
pyparsing==2.4.6
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph==0.11.0+g8fce6c6
python-dateutil==2.8.1
python-dotenv==0.11.0
pytz==2021.1
PyWavelets==1.1.1
redis==3.4.1
requests==2.24.0
requests-oauthlib==1.3.0
rfc3986==1.4.0
rsa==4.0
scikit-image==0.16.2
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
selenium==3.141.0
six==1.15.0
sniffio==1.2.0
soupsieve==2.0
statsmodels==0.12.2
sympy==1.7.1
tensorboard==2.0.2
tensorflow==1.3.0
tensorflow-tensorboard==0.1.8
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.4.0
torchaudio==0.4.0
torchvision==0.5.0
tqdm==4.46.0
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.24.3
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.11.15
zdict==3.7.0
